.img-container{
    height: 150px;
    text-align: center;
}
.img-container-large{
    height: 400px;
    text-align: center;
}
.card-img-top{
    height: 100%;
    width: auto;
    max-width: 100%;
}